@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Mulish', sans-serif;
}

/* navbar related style start */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFF;
}
.logo{
  display: flex;
}
.logo img{
  width: 48px;
  height: 56px;
}
.logo h1{
  color: #131313;
  font-size: 36px;
  font-weight: 800;
}
.logo span{
  color: #FF5400;
  font-size: 36px;
  font-weight: 800;
}
.nav-menu{
  list-style-type: none;
  display: flex;
}
.nav-menu  li{
  padding: 0 15px;
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 700;
}
.nav-menu span{
  color: #FF5400;
  font-size: 18px;
  font-weight: 700;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background-color: #ff5722;
  margin-bottom: 5px;
  height: 2px;
  width: 25px;
}
/* navbar related style end */


/* Responsive navbar Design Start */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
@media (max-width: 575px) {
  .nav-menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

@media (min-width: 576px) {
  .hamburger {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
}
/*Responsive navbar Design End  */

/* banner section related style start */
.banner{
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/banner.png) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
}
.banner-content{
  max-width: 90%;
}
h1{
  font-size: 64px;
  margin-bottom: 1rem;
  font-weight: 800;
}
p{
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: 400;
}
.search-form{
  background: rgba(255, 255, 255, 0.30);
  border-radius: 8px;
}
.search-form input, search-form select, .search-form select{
  width: 174px;
  height: 52px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: #FFF;
  color: rgba(19, 19, 24, 0.50);
  font-size: 16px;
  font-weight: 400;
}
.search-btn{
  width: 174px;
  height: 52px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: #FF5400;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}
/* Responsive styles */
@media (max-width: 768px) {
  .banner-content {
    max-width: 95%;
  }

  h1 {
    font-size: 2rem;
  }

  .search-form input, .search-form select, .search-form Select {
    padding: 8px;
  }
  .search-btn{
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .banner{
    height: auto;
    padding: 40px 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  .search-form input, .search-form select, .search-form select {
    width: calc(100% - 22px); /* Accounting for margin and padding */
    margin: 5px 10px; /* Consistent margin for all sides */
  }
  .search-btn{
    width: calc(100% - 22px); /* Accounting for margin and padding */
    margin: 5px 10px; /* Consistent margin for all sides */
  }

  .search-form {
    flex-direction: column;
  }
}